<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>708838574070-p4r5pvkovnuiout136llkmq78goivi5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708838574070-p4r5pvkovnuiout136llkmq78goivi5d</string>
	<key>API_KEY</key>
	<string>AIzaSyCkaRE3wiotPl7ZXTVIahxcU57-PajN8vI</string>
	<key>GCM_SENDER_ID</key>
	<string>708838574070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sensor.ServerHelp</string>
	<key>PROJECT_ID</key>
	<string>needhelp-ed995</string>
	<key>STORAGE_BUCKET</key>
	<string>needhelp-ed995.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708838574070:ios:76ac409154fe9433</string>
	<key>DATABASE_URL</key>
	<string>https://needhelp-ed995.firebaseio.com</string>
</dict>
</plist>